* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background: #fcfcfc;
}
/* header starts here */
header {
  width: 100%;
  height: 6.25rem;
  padding: 0 8%;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.logo {
  width: 6.80581rem;
  height: 2.5625rem;
}
header nav {
  margin-left: 12rem;
}
header nav .nav_items_container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
header nav .nav_items_container li {
  color: #272727;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
header nav .nav_items_container li img {
  margin-top: 0.25rem;
  width: 0.72856rem;
  height: 0.35356rem;
}
header .third_section {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.search_icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.cart_icon_container {
  position: relative;
}
.cart_icon_container span {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  background: #39db4a;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.cart_icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
header .third_section button {
  width: 11.1875rem;
  height: 3.75rem;
  border: none;
  border-radius: 2.5rem;
  background: #39db4a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.85rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}
header .third_section button img {
  width: 1.5rem;
  height: 1.5rem;
}
/* header ends here */

/* banner section starts here */
.banner_section {
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner_first_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.banner_first_section h1 {
  max-width: 37.25rem;
  color: #000;
  font-size: 3.875rem;
  font-weight: 800;
  line-height: 145.523%; /* 5.639rem */
}
.banner_first_section h1 span {
  color: #39db4a;
}
.banner_first_section p {
  max-width: 38rem;
  margin-top: 3.5rem;
  color: #4a4a4a;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 170.5%; /* 2.77063rem */
}
.banner_first_section_buttons {
  margin-top: 4.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.banner_first_section .order_btn {
  border-radius: 2.5rem;
  background: #39db4a;
  box-shadow: -2px 22px 38px 0px rgba(142, 255, 154, 0.5);
  color: #fff;
  font-size: 1.625rem;
  font-weight: 600;
  width: 13rem;
  height: 4.5rem;
  cursor: pointer;
  border: none;
}
.banner_first_section .watch_text {
  color: #4d4d4d;
  font-size: 1.625rem;
  font-weight: 600;
}
.banner_first_section .playButton_container {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #fff;
  filter: drop-shadow(6px 27px 34px rgba(0, 0, 0, 0.1));
  cursor: pointer;
  display: grid;
  place-items: center;
}
.banner_first_section .playButton_container img {
  width: 2.25rem;
  height: 2.25rem;
}
.banner_second_section img {
  width: 49.1875rem;
  height: 54.28125rem;
}
/* banner section ends here */

/* popular categories starts here */
.popular_categories {
  margin-top: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.label_text {
  color: #ff6868;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.21875rem;
  text-transform: uppercase;
}
.heading_text {
  margin-top: 1.8rem;
  color: #000;
  font-size: 3.75rem;
  font-weight: 700;
}
.popular_categories_card_container {
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.popular_categories_card {
  width: 20.375rem;
  height: 20.375rem;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.popular_categories_card .image_container {
  width: 9.5625rem;
  height: 9.5625rem;
  border-radius: 50%;
  background: #c1f1c6;
  display: grid;
  place-items: center;
}
.popular_categories_card .image_container img {
  max-width: 8.6875rem;
  max-height: 6.375rem;
}
.popular_categories_card h3 {
  color: #1e1e1e;
  font-size: 1.875rem;
  font-weight: 600;
}
.popular_categories_card p {
  color: #555;
  font-size: 1.375rem;
  font-weight: 500;
}
/* popular categories ends here */

/* special dishes starts here */
.special_dishes {
  margin-top: 13rem;
  padding: 0 8%;
}
.special_dishes .heading_secion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.standout_text {
  max-width: 36.25rem;
}
.buttons_container {
  display: flex;
  align-items: center;
  gap: 3.12rem;
}
.buttons_container img {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.special_dishes_card_container {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.special_dishes_card {
  width: 27.875rem;
  height: 32.6875rem;
  cursor: pointer;
  border-radius: 2.5rem;
  background: #fff;
  box-shadow: 2px 9px 42px 0px rgba(0, 0, 0, 0.08);
  padding: 2rem 2.8rem;
  position: relative;
}
.special_dishes_card .favourite {
  position: absolute;
  top: 0;
  right: 0;
  width: 5.4375rem;
  height: 4.6875rem;
  border-radius: 0rem 2.34375rem 0rem 2.65625rem;
  background: #39db4a;
  display: grid;
  place-items: center;
}
.special_dishes_card .favourite img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.special_dishes_card .image_container {
  width: 100%;
  display: grid;
  place-items: center;
}
.special_dishes_card h3 {
  margin-top: 2rem;
  color: #000;
  font-size: 1.875rem;
  font-weight: 600;
}
.special_dishes_card p {
  margin-top: 1.1rem;
  color: #555;
  font-size: 1.375rem;
  font-weight: 600;
}
.special_dishes_card .price_section {
  margin-top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.special_dishes_card .price_section h4 {
  color: #000;
  font-size: 1.875rem;
  font-weight: 600;
}
.special_dishes_card .price_section h4 span {
  color: #ff6868;
  font-size: 1.5rem;
}
.special_dishes_card .price_section .rating {
  color: #454545;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.85rem;
}
.special_dishes_card .price_section .rating img {
  width: 1.5rem;
  height: 1.5rem;
}
/* special dishes ends here */

/* testimonials starts here */
.testimonials {
  margin-top: 14rem;
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
}
.testimonials .image_container {
  margin-left: 2rem;
}
.testimonials .image_container img {
  width: 36.3125rem;
  height: 46.875rem;
}
.testimonials .content_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonials .testimonial_heading {
  max-width: 39.6875rem;
}
.para_text {
  margin-top: 1.8rem;
  color: #555;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 159%; /* 2.58375rem */
}
.testimonials .customers {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.testimonials .feedback_heading {
  color: #000;
  font-size: 1.625rem;
  font-weight: 600;
}
.testimonials .feedback_section {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.85rem;
  color: #807e7e;
  font-size: 1.5rem;
  font-weight: 500;
}
.testimonials .feedback_section p {
  color: #454545;
  font-size: 1.5rem;
  font-weight: 600;
}
/* testimonials ends here */

/* story & services starts here */
.storyServices {
  margin-top: 14rem;
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}
.storyServices_heading {
  max-width: 45.5625rem;
}
.storyServices p {
  margin-top: 3.12rem;
  color: #555;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 160%; /* 2.6rem */
}
.storyServices button {
  margin-top: 3.3rem;
  width: 13.4375rem;
  height: 5rem;
  border-radius: 2.5rem;
  background: #39db4a;
  color: #fff;
  font-size: 1.625rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.storyServices_card_container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.25rem;
}
.storyServices_card {
  width: 17.3125rem;
  height: 18.57156rem;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 7px 12px 43px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.75rem;
  text-align: center;
}
.storyServices_card_container .storyServices_card img {
  width: 4rem;
  height: 4rem;
}
.storyServices_card_container .storyServices_card h4 {
  margin-top: 2rem;
  color: #005809;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.storyServices_card_container .storyServices_card .para {
  color: #909090;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.06rem;
}
/* story & services ends here */

/* footer starts here */
footer {
  margin-top: 11rem;
  width: 100%;
  padding: 4.4rem 8% 3rem 8%;
  background: #e3ffe6;
}
.footer_first_section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .first img {
  width: 6.80581rem;
  height: 2.5625rem;
}

footer .first p,
.footer_items li {
  margin-top: 2.2rem;
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150.523%; /* 2.25781rem */
  cursor: pointer;
}
footer .first p {
  max-width: 20rem;
}
.footer_heading {
  color: #000;
  font-size: 1.625rem;
  font-weight: 600;
}
footer .footer_items {
  list-style: none;
}
.footer_second_section {
  margin-top: 6.19rem;
  display: flex;
  align-items: center;
}
footer .socialmedia_icons {
  display: flex;
  align-items: center;
  gap: 1.19rem;
}
footer .socialmedia_icons img {
  width: 3.625rem;
  height: 3.5625rem;
  cursor: pointer;
}
.footer_second_section span {
  margin-left: 10.62rem;
  color: #555;
  font-size: 1.375rem;
  font-weight: 500;
}
/* footer ends here */
